.container-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 360px;
  border: 2px solid black;
  margin-bottom: 20px;
  background-color: #fae35f;
}

.titulo {
  margin: 0px;
}

.bttns {
  background-color: #fae35f;
}
