.buttnsDoneRecipes {
  margin-left: 28%;
}

.olar {
  border-radius: 5px;
  margin-left: 10px;
}

.doneRecipesTitle {
  left: 100px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  z-index: 1;
}
