.allProfile {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 320px;
}

.button-profile-btns {
  border-radius: 5px;
  height: 50px;
  margin-left: 20%;
  margin-top: 40px;
  width: 200px;
}

.emailLstorage {
  margin-left: 10%;
}
