div .horizontal-scroll {
  border: solid 1px red;
  display: flex;
  flex-direction: row;
  height: 210px;
  overflow: auto;
  white-space: nowrap;
  width: 300px;
}

.recipe-photo {
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  height: 200px;
  margin-top: 10%;
  width: 200px;
}

.allRecipe {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ingredientes {
  align-items: center;
  background-color: #fae35f;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-right: 15px;
}

.buttonsFoodRecipes {
  background-color: #fae35f;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  padding: 10px;
}

.favBtn {
  margin-left: 7px;
}

.instructions {
  align-items: center;
  background-color: #fae35f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5%;
  width: 300px;

}

.carousel {
  background-color: #FA796B;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  height: 300px;
  margin-bottom: 15%;
  padding-top: 10px;
  width: 320px;
}

.imagem2 {
  border-radius: 5px;
  height: 150px;
  width: 150px;
}

.imagem {
  align-items: center;
  display: flex;
  flex-direction: column;
}
