.scroll-horizontal {
  border: solid 1px red;
  display: flex;
  flex-direction: row;
  gap: 0 500px;
  height: 210px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 300px;
}

.scroll-horizontal2 {
  display: flex;
  flex-direction: row;
  gap: 0 150px;
  height: 210px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
}

.botoes-modal {
  bottom: 0;
  position: fixed;
  right: 0;
}

.imagem {
  border: solid 1px red;
  display: block;
  width: 50%;
}
